#gornji_blok {
    text-align: center;
width: 100%;
height: 30%;
background-color: cornflowerblue;





}
#cenar_blok {
    text-align: center;
    width:100%;
    height: 50%;
    background-color: darkgoldenrod;
    
    

}


