#gornji_blok {
    text-align: center;
width: 100ch;
height: 15ch;
margin: auto;

background-color: lightskyblue;





}
#cenar_blok {
    text-align: center;
    width: 100ch;
    margin: auto;
    padding: 25px 10px 75px;
    background-color: lightsteelblue;
    

    
    
  
}


