#levi_blok {
    width: 100px;
    float: left;
    background-color: rgb(33, 10, 161);
}

#gornji_blok {
    text-align: center;
}

#cenar_blok {
    text-align: center;
    margin-top: 150px;
}

.nesto {

}
