#gornji_blok {
    text-align: center;
width: 100ch;
height: 50ch;
background-color: cornflowerblue;





}
#cenar_blok {
    text-align: center;
    width: 100ch;
    height: 100ch;
    

    
    
  
}


