#gornji_blok {
    text-align: center;
width: 100ch;
height: 15ch;

background-coor: cornflowerblue;





}
#cenar_blok {
    text-align: center;
    width: 100ch;
    margin: auto;
    
    

    
    
  
}


