#gornji_blok {
    text-align: center;
width: 100ch;
margin: auto;

background-color: lightskyblue;





}
#cenar_blok {
    text-align: center;
    width: 800px;
    height: 220px;
    margin: auto;
    background-color: lightsteelblue;
    padding: 10px 0;
    margin-bottom: 10px;
}
#uvodni_blok{
text-align: left;
font-size: 20px;
font-weight: bold;

    width: 100ch;
padding: 10px 0;



}
.menu {
text-align: center;
width: 800px;
margin: auto;
padding: 0;
margin: 0;




}
