#gornji_blok {
    text-align: center;
width: 100%;
height: 100%;
background-color: cornflowerblue;
padding-top: 10ch;



}

#cenar_blok {
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: darkgoldenrod;
    

}


