#gornji_blok {
    text-align: center;
width: 100ch;
margin: auto;

background-color: lightskyblue;





}
#cenar_blok {
    text-align: center;
    width: 800px;
    margin: auto;
    background-color: lightsteelblue;
    padding: 10px 0;
    margin-bottom: 10px;

    
    
  
}


