#gornji_blok {
    text-align: center;
width: 100ch;
height: 15ch;
background-color: cornflowerblue;





}
#cenar_blok {
    text-align: center;
    width: 100ch;
    margin: 25px;
    
    

    
    
  
}


