#gornji_blok {
    text-align: center;
    margin: 10pt;


background-color: cornflowerblue;





}
#cenar_blok {
    text-align: center;
    padding: 10pt;
    
    background-color: darkgoldenrod;
    
    

}


